<div class="container">
  <h3>Angular Forms</h3>
  <form>
    <div class="form-group" [class.has-error]="firstName.invalid">
      <label class="control-label">First Name</label>
      <input #firstName="ngModel" required type="text" class="form-control" placeholder="Name" name="firstName" [(ngModel)]="model.firstName">
      <div class="alert alert-danger" *ngIf="firstName.invalid">First name is Required</div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Name" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required>
      <div class="alert alert-danger" *ngIf="lastName.invalid">First name is Required</div>
    </div>

     <div class="checkbox">
      <label>
        <input type="checkbox" name="isFullTime" [(ngModel)]="model.isFullTime"> Full Time Employee
      </label>
    </div>

    <br>
    <label> Payment Type </label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="1099" [(ngModel)]="model.paymentType"> 1099
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="w2" [(ngModel)]="model.paymentType"> W2
      </label>
    </div>

  <div class="form-group needs-validation" [class.has-error]="hasPrimaryLanguageError">
      <label class="control-label"  for="validationTooltip01"> Primary Language </label>
      <select class="form-control" #primaryLanguage name="primaryLanguage" [(ngModel)]="model.primaryLanguage"
      (blur)="validatePrimaryLanguage(primaryLanguage.value)"
      (change)="validatePrimaryLanguage(primaryLanguage.value)" id="validationTooltip01"
      >
        <option value="default"> Select a Language ... </option>
        <option *ngFor="let lang of languages">
          {{ lang }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Ok</button>
  </form>

</div>
